

/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 1rem 0 0rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 10rem ;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 50px;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a { 
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* Start Banner Area */

.site-main .site-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.247) ), url(../img/banner/background.jpg) no-repeat 25% 50%;
    min-height: 1000px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.site-main .site-banner .site-title h3 {
    font-family: "Gravitas One"; 
    font-size: 80px;
    font-weight: lighter;
    color: white;
    line-height: 100px;
    padding-top: 25%;
    padding-left: 100px;
}

.site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    margin-left: 10%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    padding-left: 100px;
    font-size: 2rem;
    color: white;
}

.site-main .site-banner .site-title h4 {
    padding-left: 100px;
    font-size: 1.2rem;
    color: white;
}

.site-main .site-banner .site-title button {
    margin-left: 90px;
    top: 10px;
    font-size: .8rem;
    color: rgb(0, 0, 0);
}

/* End Banner Area */